body {
    margin: 0;
    font-family: "IranNastaliq", sans-serif;
  }
  
  .background {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .card {
    background-color: rgba(50, 50, 50, 0.3);
    padding: 1rem;
    box-shadow: 5px 5px 15px white;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: white;
  }
  
  .card p {
    color: white;
    font-size: 1rem;
    line-height: 1.6;
    direction: rtl;
  }
  