.btn {
    border: 2px solid rgb(0, 0, 255);
    color: blue;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: transparent;
    cursor: pointer; 
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.5); 
    transition: background-color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
}

.btn:hover {
    background-color: white;
    color: rgb(0, 0, 255);
    text-shadow: 3px 3px 6px rgba(0, 0, 255, 0.7); 
    box-shadow:
        rgba(0, 0, 255, 0.4) 5px 5px,
        rgba(0, 0, 255, 0.3) 10px 10px,
        rgba(0, 0, 255, 0.2) 15px 15px,
        rgba(0, 0, 255, 0.1) 20px 20px,
        rgba(0, 0, 255, 0.05) 25px 25px;
    border-radius: 15px;
    padding: 10px 20px;
}
