* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col {
    width: 100%;
    height: 100vh;

}

.baba {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 30vh;
}
.baba2{
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    width: 100%;
    height: 70vh;
}
.a {
    border: solid rgb(5, 5, 5) 1px;
}
.bache5{
    grid-area: 1 / 3 / span 2 /span 1;
    background-color: rgb(40, 1, 40);
    color: whitesmoke;
}
.bache1{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bache4{
    display: flex;
    justify-content: end;
    align-items: center;
}
.bache2{
    text-align: center;
    background-color: #f1f1f1f1;
}
.img5{
    width: 100%;
    height: 200px;
}
.img6{
    width: 100%;
    height: 259px;
}
.img3{
    width: 100%;
    height: 100%;
}
.img4{
    width: 35%;
}
.img7{
    width:100% ;
    height: 360px;
}
.img1{
    width: 200px;
}
p{
    padding: 13px;
    font-size: large;
    font-style: italic;
}
h2{
    margin-left: 13px;
}
.b1{
    margin-top: 13px;
}