body {
  background-color: #1c1c1c;
  text-align: center;
}

.card {
  width: 300px;
  background-color: #ff6f61;
  border-radius: 20px;
  margin: 100px auto;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
  transition: 0.5s;
  height: 450px;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(255, 255, 255, 0.6);
  width: 350px;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 19px 19px 0px 0px;
  object-fit: cover;
}

.card .content {
  padding: 15px;
  color: #f5f5f5;
}

.card .content h2 {
  font-size: 24px;
  color: #ffd700;
}

.card .content p {
  font-size: 16px;
  color: #ffffff;
}

.buttons {
  display: inline-block;
}

.button {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border: none;
  border-radius: 50%;
  color: #ff6f61;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.button img {
  width: 30px;
  height: 30px;
}

.button:hover {
  padding: 18px;
  margin: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
